/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
/* src/styles.css or src/styles.scss */

html {
 
  scroll-behavior: smooth;
}
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}